# macOS
.DS_Store

# Node
node_modules/
dist/
*.log
npm-debug.log*

# Build outputs
release/
src-tauri/target/

# Xcode
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
